body {
    background-color: rgb(134, 199, 90);
}
#message{
    width: 400px;
    background: #ddaaaa;
    padding: 20px;
    padding-top: 0px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 18px;
    color: #444;
    margin: 0 auto;
    font-weight: bold;
    opacity: 0;
    border: 1px solid #ff7777;

    max-height: 270px;
   

    -webkit-transition: max-height 0.7s;
    -moz-transition: max-height 0.7s;
    transition: max-height 0.7s;
}

#message.show{

    opacity: 1;

    -webkit-transition: max-height 0.7s;
    -moz-transition: max-height 0.7s;
    transition: max-height 0.7s;
}

#colour-changer{
width: 200px;
height: 100px;
margin: 30px auto;
border: 1px solid #000;
background: #fff;

-webkit-transition: max-height 0.7s;
-moz-transition: max-height 0.7s;
transition: max-height 0.7s;

}